{% extends "PrognozMagazineBundle::view.html.twig" %}

{% block content %}
<h2>Контакты</h2>
<div>+7 908 242 1734</div>
<div><a href="mailto:borovinskiy@yandex.ru">borovinskiy@yandex.ru</a></div>
<div><a href="http://arsen-borovinskiy.blogspot.ru">http://arsen-borovinskiy.blogspot.ru</a></div>
<div><a href="http://vk.com/arsen_borovinskiy">http://vk.com/arsen_borovinskiy</a></div>
{% endblock %}